.country-details {
  align-self: center;
  display: flex;
  flex-direction: column;

  width: 300px;
  border-radius: 8px;
  padding: 5px 30px;

  background-color: #faf8fc;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.country-details p,
.country-details h2 {
  margin: 10px 0;
}

.country-details img {
  width: 100px;
  margin: 10px 20px;
  align-self: center;
}
